.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rproj.user/005170FD/sources/prop/INDEX
.DS_Store
*.dcf
.Rproj.user/005170FD/pcs/source-pane.pper
rsconnect/shinyapps.io/lal-portals/SATB2-Portal.dcf
*.dcf
*.pper
.Rproj.user/shared/notebooks/paths
